<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>boolfix</title>
        <link rel="shortcut icon" href="assets/img/logo.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div id="root">
            <header>
                <div class="container d-flex">
                    <img src="assets/img/logo.png" alt="logo"/>
                    <div class="research d-flex">
                        <input v-model="mySearch" @keyup.enter="clickSearch" type="text">
                        <button @click="clickSearch">Invia</button>
                    </div>
                </div>
            </header>
            <div class="catalog-container d-flex">
                <div class="films d-flex" v-for="movie in movies">
                    <div class="movie-poster d-flex">
                        <img :src=`https://image.tmdb.org/t/p/w154/${movie.poster_path}` alt="">
                    </div>
                    <div class="overlay d-flex">
                        <h3>{{movie.title}}</h3>
                        <span class="original_title">{{movie.original_title}}</span>
                        <span>
                            <img :src=`https://www.countryflags.io/${movie.original_language}/flat/32.png`>
                        </span>
                        <span class="">
                            <i v-for="star in movie.vote_average" class="fas fa-star"></i><i v-for="star in 5-movie.vote_average" class="far fa-star"></i>
                        </span>
                    </div>
                </div>
                <div class="series d-flex" v-for="serie in series">
                    <img :src=`https://image.tmdb.org/t/p/w154/${serie.poster_path}` alt="">
                    <h3>{{serie.name}}</h3>
                    <span class="original_title">{{serie.original_name}}</span>
                    <span>
                        <img :src=`https://www.countryflags.io/${serie.original_language}/flat/32.png`>
                    </span>
                    <span class="">
                        <i v-for="star in serie.vote_average" class="fas fa-star"></i><i v-for="star in 5-serie.vote_average" class="far fa-star"></i>
                    </span>
                </div>

            </div>
        </div>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>
    </body>
</html>