<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <link rel="shortcut icon" href="assets/img/logo.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div id="root">
            <header>
                <div class="container d-flex">
                    <div class="logo-container d-flex">
                        <img src="assets/img/logo.png" alt="logo"/>
                    </div>
                    <div class="research d-flex">
                        <button @click="clickSearch"><i class="fas fa-search"></i></button>
                        <input v-model="mySearch" @keyup.enter="clickSearch" type="text" placeholder="Search">
                        <span><i class="fas fa-bell" aria-hidden="true"></i></span>
                        <img src="assets/img/avatar.png"alt="">
                        <span class="login">Fede</span>
                        <span><i class="fas fa-sort-down"></i></span>
                    </div>
                </div>
            </header>
            <div class="catalog-container d-flex">
                <!-- Catalogo film -->
                <div class="card" v-for="movie in movies">
                    <div class="title-poster-null" v-if="movie.poster_path == null">
                        <h4>{{movie.title}}</h4>
                    </div>
                    <img :src=`https://image.tmdb.org/t/p/original/${movie.poster_path}` v-if="movie.poster_path " alt="">
                    <img src="assets/img/noimage.png" v-else alt="">
                    <div class="overlay">
                        <p><strong>Titolo: </strong>{{movie.title}}</p>
                        <p><strong>Titolo originale: </strong>{{movie.original_title}}</p>
                        <p><strong>Lingua originale: </strong><img :src=`https://www.countryflags.io/${movie.original_language}/flat/16.png`>
                        </p>
                        <span><strong>Voto: </strong>
                            <i v-for="star in movie.vote_average" class="fas fa-star"></i><i v-for="star in 5-movie.vote_average" class="far fa-star"></i>
                        </span>
                        <p v-if="movie.overview"><strong>Overview: </strong>{{movie.overview}}</p>
                        <p v-else><strong>Overview: </strong>Non disponibile</p>
                    </div>
                </div>
                <!-- Catalogo serie tv -->
                <div class="card" v-for="serie in series">
                    <div class="title-poster-null" v-if="serie.poster_path == null">
                        <h4>{{serie.name}}</h4>
                    </div>
                    <img :src=`https://image.tmdb.org/t/p/original/${serie.poster_path}` v-if="serie.poster_path" alt="">
                    <img src="assets/img/noimage.png" v-else alt="">
                    <div class="overlay">
                        <p><strong>Titolo: </strong>{{serie.name}}</p>
                        <p><strong>Titolo originale: </strong>{{serie.original_name}}</p>
                        <p><strong>Lingua originale: </strong><img :src=`https://www.countryflags.io/${serie.original_language}/flat/16.png`>
                        </p>
                        <span><strong>Voto: </strong>
                            <i v-for="star in serie.vote_average" class="fas fa-star"></i><i v-for="star in 5-serie.vote_average" class="far fa-star"></i>
                        </span>
                        <p v-if="serie.overview"><strong>Overview: </strong>{{serie.overview}}</p>
                        <p v-else><strong>Overview: </strong>Non disponibile</p>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>
    </body>
</html>